body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #020617, #020617);
  color: #e5e7eb;
}

.page-container {
  padding: 40px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #38bdf8;
}

.back-btn {
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  background: transparent;
  color: #38bdf8;
  border: 1px solid #38bdf8;
  cursor: pointer;
}

.back-btn:hover {
  background: rgba(56, 189, 248, 0.15);
}

.search-export {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#searchInput {
  width: 70%;
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  background: rgba(15, 23, 42, 0.9);
  color: #e5e7eb;
  font-size: 16px;
}

#searchInput::placeholder {
  color: #94a3b8;
}

.btn.export {
  background-color: #22c55e;
  color: #020617;
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.btn.export:hover {
  background-color: #16a34a;
}

.table-card {
  background: rgba(15, 23, 42, 0.9);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.2);
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table th,
.logs-table td {
  padding: 14px;
  text-align: center;
}

.logs-table th {
  color: #38bdf8;
  border-bottom: 1px solid rgba(56, 189, 248, 0.3);
}

.logs-table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
