body {
  background: #020617;
  font-family: "Segoe UI", sans-serif;
  color: #e5e7eb;
}

.page-container {
  padding: 40px;
  max-width: 420px;
  margin: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1 {
  color: #38bdf8;
}

.back-btn {
  border: 1px solid #38bdf8;
  background: transparent;
  color: #38bdf8;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.filter-card {
  background: rgba(15, 23, 42, 0.9);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(56,189,248,.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select, input {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(15,23,42,.7);
  color: #e5e7eb;
}

.button-group {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.btn.apply {
  background: #22c55e;
  color: #020617;
}

.btn.reset {
  background: #ef4444;
  color: white;
}
