body {
  background: #020617;
  font-family: "Segoe UI", sans-serif;
  color: #e5e7eb;
}

.page-container {
  padding: 40px;
  max-width: 600px;
  margin: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1 {
  color: #38bdf8;
}

.back-btn {
  border: 1px solid #38bdf8;
  background: transparent;
  color: #38bdf8;
  padding: 8px 14px;
  border-radius: 10px;
}

.table-card {
  background: rgba(15,23,42,.9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(56,189,248,.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 14px;
  text-align: center;
}

th {
  color: #38bdf8;
}

button {
  background: transparent;
  color: #38bdf8;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
